.App {
  text-align: center;
  font-size: 24;
  width: 100%;
  text-align: center;
  background-color: rgb(218, 218, 218);
  height: 650px;
  padding-top: 50px;
  border: 2px solid grey;
  border-radius: 25px;
  width: 32%;
  margin: 0 auto;
}

.theButton {
  background-color: brown;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.responseWeight {
  font-size: 40px;
}

.mainApp {
  font-size: 24px;
}

.mainInput {
  font-size: 24px;
}

.githubLink {
  padding-top: 5px;
  font-size: 14px;
}